
/* Вирівнювання тексту всередині тегу по горизонталі */
.center-text {
    text-align: center;
}

/* Збільшуємо специфічність селектора для вищого пріоритету */
.form-control.custom-height {
    height: auto; /* Означає, що висота адаптується автоматично до вмісту */
    padding: 0;
}
/*  --- Перевизначаємо задані у фреймворкі стилі */
.table td {
    padding: .25rem;
    vertical-align: middle;
}
.btn {
    padding: .25rem .75rem;
}
