
/* Вирівнювання тексту всередині тегу по горизонталі */
.center-text {
    text-align: center;
}

/* Збільште специфічність селектора для вищого пріоритету */
.form-control.custom-height {
    height: auto; /* Означає, що висота адаптується автоматично до вмісту */
    padding: 0;
}
/* Збільште специфічність селектора для вищого пріоритету */
.table td {
    padding: .3rem;
}
